#lf{
    text-align:right;
    color: white;
    font-family: 'Oswald', sans-serif;
}
#pic{
    text-align: center;
}
#lpfb{
    text-align: left;
    font-family: 'Oswald', sans-serif;

}
html{
    background:linear-gradient(blue 30%,red 80%,black 100%);
}
#welcome{
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font: size 700px;
}